*.backup*
*.egg
*.egg-info
*.pyc
*$py.class
*.smbdelete*
.nfs*
*.pt.py
*.txt.py
*~
.*.swp
.coverage
.noseids
.tox/
.DS_Store
._*
*.iml
build/
dist/
/lib/
include/
node_modules/
bower_components/
.tscache/
