@import "cameo/theme/color-palette";
@import "cameo/theme/vars";

// START OF ALPINE NEXT STYLES ///////////////////////////////////////////////
// CONTENT CONTAINER
@include component(content-page-header) {
    background-color: $gray9;
    // fix z-index issues
    position: relative;
    z-index: 0;

    @include option(fixed) {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 99;
    }

    @include option(border) {
        border-bottom: 1px solid $gray7;
    }
}

/**
 Used to set the main sections in a page
 Row (--page-header) - ensures padding
 Row (--page-header-section) : 2 in a row ensures a delimiter (must be siblings)
 Row (--page-header-section-top) : will always show a top separator
 */
@include component(row) {

    @include option(page-header) {
        padding: 12px 0;
    }

    @include option(page-header-section) {
        & + & {
            border-top: solid 1px $gray7;
        }
    }

    @include option(page-header-section-top) {
        border-top: solid 1px $gray7;
    }
}

/**
* The content-container styles below have a max-width hard-coded
* in a lot of places and prevent fluid-container from working correctly
* e.g letting background colors fill the full page width
* the styles above are a pass at refactoring these
*/
@include component(content-container) {
    $containerGutter: 32px;

    // position it on top of the page
    @include option(top) {
        position: fixed;
        width: 100%;
        z-index: $zindexFixedNavbar;
        top: 0;
    }

    // look and feel - page header
    @include option(page-header) {
        background-color: $gray9;
        padding: 0 $containerGutter;

        // fix z-index issues
        position: relative;
        z-index: 0;
    }

    // navigation bar bar
    @include option(nav-bar) {
        background-color: $blue1;
        padding: 0 $containerGutter;

        // fix z-index issues
        z-index: 1;
        position: relative;
    }

    // main container
    @include option(main) {
        padding: 0 $containerGutter;

        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    // contains the entire page
    @include option(page) {

        height: 100%;

        @include option(single-component) {
            display: flex;
            flex-direction: column;

            position: fixed;
            width: 100%;

            .content-page-header {
                z-index: 3;
            }

            & > .content-container.--top {
                position: initial;
                flex-grow: 0;
                flex-shrink: 0;
            }

            & > .content-container.--bottom {
                flex-grow: 1;
                flex-shrink: 1;
                position: relative;

                & > #main-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            & > .content-container.--main {
                position: relative;
                flex-grow: 1;
                flex-shrink: 1;
                padding: 0;
                width: 100%;
                min-width: 100%;

                overflow: auto;
            }

            .container-fluid[data-ui-view="main"] {
                position: absolute;
                width: 100%;
                height: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

// END OF ALPINE NEXT STYLES ///////////////////////////////////////////////

// container - prepend "al" for now to avoid collision with Bootstrap's "container" class
// TODO - next - can we remove it ?
@include component(al-container) {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0;

    @include option(column) {
        padding: 0 0.25rem;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    @include option(page-title) {
        padding: 1rem;
    }

    @include option(page-body) {
        padding: 0;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        margin-top: 150px;
    }

    @include option(no-padding) {
        padding: 0;
    }

    @include option(no-padding-top-bottom) {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include option(no-padding-left-right) {
        padding-left: 0;
        padding-right: 0;
    }

    @include option(no-padding-left) {
        padding-left: 0;
    }

    @include option(no-padding-right) {
        padding-right: 0;
    }

    @include option(max-width) {
        flex-grow: 1;
    }

    @include option(centered) {
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
    }

    @include option(right-aligned) {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }

    @include option(top-aligned) {
        align-items: flex-start;
    }

    @include option(report-header) {
        padding-left: 0;
        padding-right: 0;
        // padding: 0.5rem 0;
    }

    @include option(field-header) {
        background-color: $gray0;
        color: $white;
    }

    @include option(summary-section) {
        padding: 0;
        border: 1px solid $gray8;
        flex-direction: column;
        align-items: flex-start;
    }

    @include option(summary-table) {
        width: 100%;
        padding: 0.5rem 0;
    }

    @include option(modal-header) {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    @include option(max-height) {
        align-items: stretch;
    }

    @include option(work-order-photo-metadata) {
        flex-grow: 1;
        background-color: $gray9;
        flex-direction: column;
    }

    @include option(modal-header-center-title) {
        padding: 0 50px;
    }
}
