@media print {
    .hide-children {
        * {
            visibility: hidden;
        }
    }

    .show-children {
        * {
            visibility: visible;
            overflow: visible;
        }
    }
}
